@font-face {
    font-family: 'Sackers Gothic Std';
    src: url('SackersGothicStd-Medium.woff2') format('woff2'),
        url('SackersGothicStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

